<!DOCTYPE html>
<html>
<head>
    <title>Личный кабинет</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static "scripts/cabinet_update_intention_matches.js" %}"></script>


</head>
<body>

    <h3>Предстоящие матчи:</h3>
        <div class="upcoming_plays">
        {% for match in matches  %}
              <div class="upcoming_plays_row">
                    <div class="play_column">
                        {{ match.home_team }} - {{ match.guest_team }}
                    </div>

                    <div class="switch_column">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="{{ match.id }}" checked/>
                            <label class="onoffswitch-label" for="{{ match.id }}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
              </div>
         {% endfor %}
         </div>



</body>
</html>