{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}"/>
{% endblock %}


{% block content %}

    <div class="about player">
        <h3>{{ person.first_name }} {{ person.last_name }}</h3>
        <p class="plain-text">Всего голов: {{ person.goals }}<br/>
        Всего передач: {{ person.assists }}</p>

    </div>

    <h3>Ближайшие матчи:</h3>
        <div class="matches_intended_table" id="matches">
        {% for match in matches  %}
            <div class="matches_intended_row">
                <div class="matches_intended_left_column">{{ match.home_team }} - {{ match.guest_team }}</div>
                {% include "switches.html" with match=match %}
            </div>
        {% endfor %}
         </div>

        <div>
            <a href="{% url 'plays.views.cabinet_all_matches' %}">Все матчи</a>
        </div>

{% endblock %}

{% block scripts %}

    {% include "save_switch.html" %}

    <script src="{% static "scripts/getCookie.js" %} "></script>

{% endblock %}