{% extends 'base_bootstrap.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}"/>
{% endblock %}

{% block content %}

    <div id="matches" class="matches_intended_table">
        {% for match in matches_past %}
            <div class="matches_{{ match.type }}_row">
                <div class="matches_left_column">{{ match.date }}</div>
                <div class="matches_right_column"><a href={% url 'plays.views.match_details' id=match.id %}>{{ match.home_team }} - {{ match.guest_team }}</a></div>
            </div>
        {% endfor %}

        {% if match_today %}
            <div class="matches_{{ match_today.type }}_row">
                <div class="matches_left_column">{{ match.date }}</div>
                <div class="matches_right_column">{{ match.home_team }} - {{ match.guest_team }}</div>
            </div>
        {% endif %}

        {% for match in matches_future %}
            <div class="matches_{{ match.type }}_row">
                <div class="matches_left_column">{{ match.date }}</div>
                <div class="matches_left_column">{{ match.home_team }} - {{ match.guest_team }}</div>
                {% include "switches.html" with match=match %}
            </div>
        {% endfor %}


    </div>



{% endblock %}


{% block scripts %}

    {% include "save_switch.html" %}

    <script src="{% static "scripts/getCookie.js" %} "></script>

{% endblock %}