<div class="players_table" id={{ id }}>
    {{ team.name}}:
        {% for player in players %}
        <div class="players_row">
            <div class="player_name_column">
                {{ player.serialize_to_text }}
            </div>
            {% if is_staff %}
                <div class="player_stat_column">
                    <form action="{% url 'plays.views.index' %}"
                          method="POST">
                        {% csrf_token %}
                        <input type="submit"/>
                    </form>
                </div>
            {% endif %}
        </div>
        {% endfor %}
</div>