{% extends 'base.html' %}
{% load staticfiles %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}"/>
{% endblock %}


{% block content %}
    <div id="match_header">
        {{ match.home_team }} {{ match.home_team_score }}:{{ match.guest_team_score }} {{ match.guest_team }}
    </div>

    <div id="match_events">
        <div id="goals">
            Голы:
            <ul>
                {% for goal in goals %}
                    <li>{{ goal.serialize_to_text }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="cards">
            Карточки:
            <ul>
                {% for card in cards %}
                    <li>{{ card.serialize_to_text }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% include 'match_details_roster.html' with id='home' team=match.home_team players=players_home is_staff=home_is_stuff %}
    <br/>
    {% include 'match_details_roster.html' with id='guest' team=match.guest_team players=players_guest is_staff=guest_is_staff %}

    {% if user.is_staff %}
        <h2>
            Admin:
            {% if is_user_home %}
                {{ match.home_team.name }}
            {% else %}
                {{ match.guest_team.name }}
            {% endif %}
        </h2>
    {% endif %}

{% endblock %}